.container {
  position: relative;
  padding: 10px 10px 5px;
  border-radius: 5px;
}

.mrsl-container {
  position: relative;
}

.loader {
  margin-top: 100px;
  width: 100%;
  background: url(/assets/images/util/loader.gif) center center no-repeat;
  height: 120px;
  position: relative;
}

.powered-by-morsel {
  text-align: center;
  color: #93a491;
}

.powered-by-morsel p {
  line-height: 59px;
  display: inline-block;
}

.powered-by-morsel a {
  background: url(/assets/images/logos/morsel-text.png) center top no-repeat;
  background-size: 130px 59px;
  width: 130px;
  height: 59px;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  vertical-align: text-bottom;
  margin-left: 10px;
}

.morsel-full-container {
  display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .morsel-text {
    background-image: url(/assets/images/logos/morsel-text@2x.png);
  }
}