<div class="social-sharing">
  <a class="btn btn-social btn-facebook" ng-click="shareSocial('facebook')">
    <i class="common-facebook-filled"></i>
  </a>
  <a class="btn btn-social btn-twitter" ng-click="shareSocial('twitter')">
    <i class="common-twitter-filled"></i>
  </a>
  <a class="btn btn-social btn-linkedin" ng-click="shareSocial('linkedin')">
    <i class="common-linkedin-filled"></i>
  </a>
  <a class="btn btn-social btn-pinterest" ng-click="shareSocial('pinterest')">
    <i class="common-pinterest-filled"></i>
  </a>
  <a class="btn btn-social btn-googleplus" ng-click="shareSocial('google_plus')">
    <i class="common-googleplus-filled"></i>
  </a>
  <a class="btn btn-social btn-clipboard" ng-click="shareSocial('clipboard')">
    <i class="common-clipboard-filled"></i>
  </a>
</div>