<div class="modal-morsel-full-slide">
  <div class="loader"></div>
  <div ng-if="morsel" class="morsel-full">
    <div class="morsel-mobile-info">
      <h2 class="morsel-title" ng-bind="morsel.title"></h2>
      <div class="user">
        <span><img ng-src="{{getUserPhoto(morsel.creator)}}" class="img-circle"/></span> {{ morsel.creator.first_name + ' ' + morsel.creator.last_name }}
      </div>
    </div>
    <div ng-repeat="item in morsel.items" class="morsel-item">
      <hr />
      <div>
        <div class="item-img-wrap">
          <div class="item-img">
            <div>
              <img ng-src="{{getItemPhoto(item)}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="item-info">
        <div ng-if="!$first" class="item-control prev-item" ng-click="prev($index)">
          <span>Previous</span>
        </div>
        <h2 class="morsel-title" ng-bind="morsel.title"></h2>
        <div class="user">
          <span><img ng-src="{{getUserPhoto(morsel.creator)}}" class="img-circle" /></span> {{ morsel.creator.first_name + ' ' + morsel.creator.last_name }}
        </div>
        <div class="item-description" ng-class="$last ? '' : 'small-description'">
          <p ng-bind="formatDescription(item.description)"></p>
        </div>
        <div ng-if="!$last" class="item-control next-item" ng-click="next($index)">
          <span>Next</span>
        </div>
      </div>
    </div>
  </div>
</div>