<div style="padding:0;max-width:960px;margin:0 auto;border:0;height:100%">
  <iframe id="morsel-iframe" border="0" frameborder="0" SCROLLING="no" style="border:0 none" src="{{{morselDomain}}}/places/{{{placeId}}}" width="100%"></iframe>
  {{#ifCond nodeEnv 'local'}}
  <script>var morselConfig={morselDomain:'{{{morselDomain}}}'};</script>
  {{/ifCond}}
  <% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="{{{morselDomain}}}/<%= file %>"></script>
  <% }); %>
</div>