// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  .modal-dialog {
    @include transition(width 0.5s ease-out, height 0.5s ease-out, left 0.5s ease-out);
  }

  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
    z-index: 11;
    color: #394038;
    font-size: 22px;
    
    &:hover {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
  }

  .modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.in {
    .loader {
      display: block;
    }
  }
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: $modal-content-bg;
  @include box-shadow(0px 2px 3px 1px rgba(0,0,0,1));
  background-clip: padding-box;
  // Remove focus outline from opened modal
  outline: 0;
  width: 100%;
  height: 100%;
}

// Modal background
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-background;
  background-color: $modal-backdrop-bg;
  @include opacity(0);
  @include transition(opacity 0.5s ease-out);

  &.in { 
    @include opacity($modal-backdrop-opacity);
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: $screen-sm) {
  .modal {
    overflow: visible;

    .modal-open & {
      overflow-y: visible;
      overflow-x: visible;
    }
  }
}